#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12rem;
  padding: 1.5em;
  will-change: filter;
  image-rendering: pixelated;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 5s linear;
  }
}

.card {
  padding: 2em;
}

.message-text-value {
font-size: 2rem;
  font-weight: 600;
}

button {
  font-size: 2rem !important;
}